@c-text: #2b2a29;
.c-text {
  color: @c-text;
}
.b-text {
  background-color: @c-text;
}

@c-light-burgundy: #872742;
.c-light-burgundy {
  color: @c-light-burgundy;
}
.b-light-burgundy {
  background-color: @c-light-burgundy;
}

@c-cool-grey: #90999d;
.c-cool-grey {
  color: @c-cool-grey;
}
.b-cool-grey {
  background-color: @c-cool-grey;
}