.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-triangle(@color) {
  &::after {
    content: '';
    position: absolute;
    z-index: 10;
    left: 15px;
    bottom: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: @color transparent transparent transparent;

    @media (max-width: 800px) {
      bottom: -10px;
      border-width: 10px 9px 0 9px;
    }
  }
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.no-wrap {
  white-space: nowrap;
}