.media-block {
  background: linear-gradient(122deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 72%, rgba(246,248,249,1) 72%, rgba(250,250,250,1) 100%);

  & > .wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 105px;
    .block-triangle(#fff);

    @media (max-width: 800px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

.media-block-title {
  .ff-gilroy-extrabold;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  text-transform: uppercase;

  @media (max-width: 800px) {
    font-size: 26px;
  }
}

.media-block-subtitle {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.43;
  margin-bottom: 30px;

  @media (max-width: 800px) {
    font-size: 16px;
  }
}

.media-block-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.media-block-card {
  flex: 0 0 calc(~"25% - 10px");
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
  transition: all 200ms;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover,
  &:focus {
    border-color: @c-light-burgundy;
    color: #fff;
    transition: all 200ms;

    .media-block-card-icon {
      opacity: 1;
      color: @c-light-burgundy;
      transition: all 200ms;

      svg {
        * {
          fill: @c-light-burgundy;
        }
      }
    }
  }

  @media (max-width: 900px) {
    flex-basis: calc(~"33.3333% - 10px");
  }

  @media (max-width: 740px) {
    flex-basis: calc(~"50% - 10px");
  }

  @media (max-width: 520px) {
    flex-basis: calc(~"100% - 10px");
  }
}

.media-block-card-photo {
  position: relative;

  img {
    max-width: 100%;
  }
}

.media-block-card-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
  z-index: 10;
  opacity: 0.9;
  border-radius: 1px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms;

  svg {
    max-width: 100%;
  }
}

.media-block-card-icon-text {
  .ff-gilroy-extrabold;
  font-size: 9px;
  margin-top: 3px;
  transition: all 200ms;
}

.media-block-card-title {
  flex: 1;
  background: @c-text;
  color: #fff;
  font-size: 15px;
  line-height: 1.13;
  padding: 10px 12px;
}
