.speakers-block {
  background-color: #1b1b1b;
  color: #fff;

  & > .wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 45px;
    .block-triangle(#1b1b1b);

    @media (max-width: 800px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

.speakers-block-title {
  .ff-gilroy-extrabold;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  text-transform: uppercase;

  @media (max-width: 800px) {
    font-size: 26px;
  }
}

.speakers-block-subtitle {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.43;
  margin-bottom: 30px;

  @media (max-width: 800px) {
    font-size: 16px;
  }
}

.speakers-block-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.speakers-block-card {
  position: relative;
  flex: 0 0 calc(~"25% - 30px");
  margin: 15px;
  padding-bottom: 80px;
  color: #fff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #fff;
    transition: all 200ms;


    .speakers-block-card-logo {
      opacity: 0;
      transition: all 200ms;
    }

    .speakers-block-card-ask-question {
      max-height: 100px;
      padding-top: 15px;
      opacity: 1;
      transition: all 200ms;
    }
  }

  @media (max-width: 1000px) {
    flex-basis: calc(~"50% - 30px");
  }

  @media (max-width: 660px) {
    flex-basis: calc(~"100% - 30px");
  }
}

.speakers-block-card-photo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  min-height: 220px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.speakers-block-card-logo {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  background-color: #fff;
  transition: all 200ms;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.speakers-block-card-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: #2b2a29;
  padding: 10px 12px;
}

.speakers-block-card-name {
  .ff-gilroy-extrabold;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 3px;

  @media (max-width: 1000px) {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.speakers-block-card-title {
  opacity: 0.7;
  font-size: 13px;
  line-height: 1.23;

  @media (max-width: 1000px) {
    font-size: 12px;
    max-height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.speakers-block-card-ask-question {
  display: inline-block;
  .ff-gilroy-extrabold;
  color: #fff;
  font-size: 13px;
  line-height: 1.23;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 200ms;

  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icons/icon-speakers-arrow-small-white.svg") no-repeat center;
    width: 12px;
    height: 9px;
    margin-left: 5px;
  }
}