.summits-block {
  background: linear-gradient(122deg, rgba(237,241,243,1) 0%, rgba(237,241,243,1) 72%, rgba(246,248,249,1) 72%, rgba(250,250,250,1) 100%);

  & > .wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
    .block-triangle(#fff);
  }
}

.summits-block-title {
  .ff-gilroy-extrabold;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}

.summits-block-subtitle {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.43;
  margin-bottom: 30px;
}

.summits-block-city {
  .ff-gilroy-extrabold;
  font-size: 24px;
  color: #bcc3c5;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.summits-block-cards {
  margin-bottom: 30px;
}

.summits-block-card-image {
  width: 90px;
  height: 85px;
  margin-bottom: 8px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.summits-block-card-date {
  font-size: 13px;
  line-height: 1.08;
}
